**/.DS_Store
**/.ipynb_checkpoints
**/.idea
**/__pycache__/
Modeling/fitting/runs
Modeling/fitting/outfiles
Modeling/fitting/noise_files
Modeling/fitting/pso_duplicate
Modeling/fitting/outfiles_backup
Modeling/fitting/slurm*
Modeling/fitting/S1S2_conv_test
Analysis/**/X*.ipynb
Analysis/**/X*.Rmd
Analysis/**/X*.py
Modeling/CMR_IA/build
Modeling/CMR_IA/dist
Modeling/CMR_IA/CMR_IA.egg-info
**/notes.md